/* basic reset and setting htl font size so that 1 rem is 10px */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

}

body {
  box-sizing: border-box;
}

.main-container {
  background-color: rgba(19, 241, 55, 0.3);


  background-image: linear-gradient(to right bottom, rgb(46, 171, 6, 0.6), rgb(195, 56, 156, 0.5)), url('../images/sneakers_bckgrnd.jpg');

  background-size: cover;
  background-position: center;
}


/* overriding default bootstraps styling */
.navigation-bar {
  font-size: 2rem !important;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.nav-link {
  padding-right: 2rem !important;
}

.details-box-text {
  padding-bottom: 2rem;
}


/* sneaker details */
.sneaker-details {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  align-items: center;
}

.sneaker-details-img-container {
  width: 40%;
  text-align: center;
  margin:auto;
}

.sneaker-details-img {
  width:100%;

}

.details-box {
  width: 50%;
  text-align: left;
  padding-left: 8rem;

}



/* norm size - lg */
.filter {
  padding-top: 1rem;
  display: flex;
  justify-content: space-around;
  background-color: #f8f9fa;
  position: fixed;
  width: 100%;
  padding-bottom: 4rem;

}

.filter-select {
  font-size: 2rem;

}


/* add media query to reduce button size */
.filter-clear-filter {
  display: block;
	font-size: 1.3rem;
	font-family: sans-serif;
	font-weight: 700;
	color: #444;
	line-height: 1.3;
	padding: .6em 1.4em .5em .8em;
	width: 15rem;
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .5em;

  background-color: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
	background-image: url(),
	  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}


.filter-select {
	display: block;
	font-size: 1.3rem;
	font-family: sans-serif;
	font-weight: 700;
	color: #444;
	line-height: 1.3;
	padding: .6em 1.4em .5em .8em;
	width: 100%;
	max-width: 100%;
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}
.filter-select::-ms-expand {
	display: none;
}
.filter-select:hover {
	border-color: #888;
}
.filter-select:focus {
	border-color: #aaa;
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222;
	outline: none;
}
.filter-select option {
	font-weight:normal;
}


.footer {
  height: 30vh;
  background-color: #f8f9fa;
}


.component {
  margin: 20px;
  padding: 10px;
  width: 200px;
  heigh: 500px;
  border: 1px solid black;
  text-align: center;
  flex-wrap: wrap;
  display: inline-block;
}




.component-list {
  margin-top: 10rem;
}

li.component-item {
  display: inline;


}

.component-item{
  display: inline;


}
